body{
font-family:Segoe UI,Arial;
background:#f4f7f4;
color:#075e3b;
text-align:center;
}
header{
background:linear-gradient(135deg,#075e3b,#d4af37);
color:white;
padding:40px;
}
header img{width:100px}
nav a{
background:#075e3b;
color:white;
padding:15px;
margin:10px;
display:inline-block;
border-radius:10px;
text-decoration:none;
}
.card{
background:white;
padding:30px;
margin:30px;
border-radius:20px;
}
